body {
  font-family: 'Arial', sans-serif;
  background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../.jpg');
  color: #ffffff; 
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: transparent;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgb(236, 230, 230);
}

h4 {
  font-size: 28px;
  font-weight: bold;
  color: rgb(245, 245, 245);
  margin-bottom: 20px;
  text-align: center;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-control {
  width: 80%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
  transition: border-color 0.3s ease;
}

.form-control:focus {
  border-color: #4CAF50;
  outline: none;
  box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
}

button {
  width: 45%;
  padding: 12px;
  margin: 10px 5px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.3s ease;
}

.btn-primary {
  background-color:blue ;
  color: white;
}

button:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

button:active {
  transform: scale(1);
}

a.button {
  width: 45%;
  padding: 12px;
  margin: 10px 5px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.3s ease;
}

a.btn-warning {
  background-color: none;
  color: #444;
  text-decoration: none;
}

a.button:active {
  transform: scale(1);
}

@media screen and (max-width: 600px) {
  .form-control {
      width: 100%;
  }

  button {
      width: 100%;
  }

  .container {
      padding: 15px;
  }

  h4 {
      font-size: 24px;
      color:#ffcc00 ;
  }
}
